
.logo {
    height: 1rem;
}

.navbar-custom {
    font-size: 1.2rem;
}

.nav-item-custom {
    margin: auto 0.2rem;
}

.cover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Images/ba1.jpg");
    background-size: cover;
    height: 100vh;
}



.registration-form, .buy-tickets-info  {
    max-width: 65vw !important;
}

@media (max-width: 768px) {
    #details {
        width: 94%;
    }
}

.registration-form, .buy-tickets-info  {
    max-width: 65vw !important;
}



